{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Creation d'un nouvel article {% endblock %}</h1>

<form method="post">

    <label for="title">Titre</label>
    <input type="text" name="title" placeholder="Entrez le titre de votre nouvel article" value="{{ request.form['title'] }}" required></input>
 
    <label for="content">Contenu</label>
    <textarea name="content" placeholder="Ecrivez le contenu de votre article" required>{{ request.form['content'] }}</textarea>

    <button type="submit">Ajouter</button>

</form>
{% endblock %}